/web/ws/ws-with-koa/node_modules
/web/rest/rest-hello/node_modules
/web/rest/rest-hello/.vscode
/web/rest/rest-koa/node_modules
/web/rest/rest-koa/.vscode
/web/vue/hello-vue/node_modules
/web/vue/hello-vue/.vscode
/web/vue/form-vue/.vscode
/web/vue/form-vue/node_modules
/web/koa/hello-koa/node_modules
/web/koa/hello-koa/.vscode
/web/koa/hello-sequelize/node_modules
/web/koa/hello-sequelize/.vscode
/web/koa/url2-koa/.vscode
/web/koa/url2-koa/node_modules
/web/koa/url-koa/node_modules
/web/koa/url-koa/.vscode
/web/koa/view-koa/.vscode
/web/koa/view-koa/node_modules
/web/db/hello-sequelize/.vscode
/web/db/hello-sequelize/node_modules
